nbactions.xml
nb-configuration.xml
nbbuild/
META-INF/
/*.properties
/bin/
/local.cfg
.project
.classpath
.idea/
.DS_Store
.settings/
*.iml
*.ipr
*.iws
target/
tags
nbdist/
overlays/
nbproject/private/
build/
dist/
!/build.properties

